/* * {
  text-align: center;
  font-family: sans-serif;
  color:black;
  box-sizing: border-box;
} */
/* body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
  background: hsl(227, 68%, 52%);
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  /* flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

.NavBar div a{
  padding-left: 2em;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}
.NavBar{
  display: flex;
  flex-direction: column;
}


@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
} */
  
  
  * {
    text-align: center;
    font-family: sans-serif;
    color:black;
    box-sizing: border-box;
    
  }
  
  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
  }
  
  header {
    flex: 0 80px;
    background: hsl(227, 68%, 52%);
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
  }


  
  footer {
    flex: 0 15px;
    color: white;
    background: hsl(227, 68%, 52%);
    
  }
  .Fancy_Title title{
    flex: 1;
    flex-direction: row;
    font-size: xx-large;
    color: #0a17a5;
    text-shadow: 2px 2px 4px #999;
  }
  main {
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: large;
  }
  .NavBar div a{
    padding-left: 2em;
    color:white;
  }
  .NavBar{
    display: flex;
    flex-direction: column;
  }
  
  
  section:nth-child(1) {
    flex: 1;
    background-color: hsl(180, 10%, 80%);
  }
  section:nth-child(2) {
    flex: 3;
    background-color: aqua;
  }
  
  @media (orientation: portrait) {
    main {
      flex-direction: column;
    }
  }
  
  @media (max-height: 700px) {
    header {
      display: flex;
      flex-direction: row;
  
      justify-content: flex-start;
  
      align-items: flex-start;
    }
    footer {
      display: flex;
      justify-content: center;
      flex-direction: row;
      color: white;
      
    }
  }